* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
             'Helvetica Neue', Arial, sans-serif;
}

.vn-map svg path {
  fill: #ccc;
}

#label_points circle {
  r : 8 ;
  fill: #ff4d4f;
  animation: pulse 1.6s linear infinite;

}

.vn-map path:hover,
.path.active
  {
  stroke: rgb(230, 57, 70);
  stroke-width: 5;
  animation: borderGlow 2.5s linear infinite;
}

.path.finish {
  stroke: #a8dadc;
  stroke-width: 5;
  animation: borderGlowF 2.5s linear infinite;
}

/* show content */

.info-panel {
  width: 50%;
  height: 100%;
  background: rgb(36, 36, 36);
  color: #F1FAEE;
  padding: 20px;
  border-radius: 12px;

  /* quan tr·ªçng */
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;

  transition: transform 0.5s ease, opacity 0.3s ease;
}

.info-panel.show {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
  position: absolute;
  top: 0;
  right: 0;
}

#reset {
  position: absolute;
  top: -50%;
  right: 100%;
  opacity: 0;
  transform: rotate(45deg);
  transform-origin: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 40px;
  height: 40px;
  transition: all 0.3s;
  background-color: #ff4d4f;
  color: #F1FAEE;
  cursor: pointer;
}

#reset:hover {
  filter: brightness(80%)
}

#reset:active {
  scale: 0.5;
}

#icon {
  transform: translate(-0.3px, -1.3px);
}

#reset.show {
  opacity: 1;
}

/* Animation */
@keyframes pulse {
  0%, 100% {
    r: 6;
    opacity: 1;
  }
  50% {
    r: 10;
    opacity: 0.8;
  }
}

@keyframes borderGlow {
  0%, 100% {
    filter: drop-shadow(0 0 2px rgba(230, 57, 70,.4));
    opacity: 0.8;
  }

  30% {
    opacity: 1;
  }

  50% {
    filter: drop-shadow(0 0 5px rgba(230, 57, 70,.9));
    opacity: 1;
  }
}

@keyframes borderGlow {
  0%, 100% {
    filter: drop-shadow(0 0 2px rgba(168, 218, 220,.4));
    opacity: 0.8;
  }

  30% {
    opacity: 1;
  }

  50% {
    filter: drop-shadow(0 0 5px rgba(168, 218, 220,.9));
    opacity: 1;
  }
}